<p>
    <b>Пользовательский интерфейс для клиентов.</b>
    Базовая схема действий пользователя-пассажира:
</p>
<ul>
    <li>зарегистрироваться как клиент</li>
    <li>создать заказ поездки с местами отправления, назначения и желаемой стоимостью</li>
    <li>принять поступившее предложение от водителя</li>
    <li>завершить заказ при удовлетворении сделкой</li>
</ul>