<p>
    <b>Пользовательский интерфейс для водителей.</b>
    Базовая схема действий пользователя-водителя:
</p>
<ul>
    <li>зарегистрироваться как водитель</li>
    <li>создать встречное предложение для заказа клиента</li>
    <li>получить согласие клиента</li>
    <li>подтвердить и начать выполнение заказа</li>
    <li>завершить заказ при удовлетворении сделкой</li>
</ul>