<p>
    <b>Front side for taxi customers.</b>
    Basic scheme of user-passenger actions:
</p>
<ul>
    <li>login or register as client</li>
    <li>create an order with places of departure, destination and desired price</li>
    <li>accept an offer from an user-driver</li>
    <li>close the order when satisfied with deal</li>
</ul>