<p>
    <b>Front side for taxi drivers.</b>
    Basic scheme of user-driver actions:
</p>
<ul>
    <li>login or register as driver</li>
    <li>create a counter offer to an order</li>
    <li>obtain client consent</li>
    <li>confirm and start order execution</li>
    <li>close the order when satisfied with deal</li>
</ul>