
<div class="page" data-page="orders" data-handler="OrdersPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li><a href="#" data-action="main" data-t="">Main</a></li>
            <li data-t="meta">Orders</li>
        </ol>
    </div>

    <h1 data-t="meta">My orders</h1>


    <div class="text-center mb30">
        <button type="button" class="btn-success btn" data-action="newOrder">
            <span data-t="">Create new order</span>
        </button>
    </div>

    <div class="order-list loadable-container" data-handler="OrderList">

        <template data-id="list">
            <div class="order-items">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="order-item" data-id="{{_id}}">
                <div class="cell">
                    <label data-t="meta">State</label>
                    <div class="value"><b data-t="meta">{{state}}</b></div>
                </div>
                <div class="cell">
                    <label data-t="">ID</label>
                    <div class="value">
                        <a href="#" data-action="order" title="{{_id}}">#{{_id}}</a>
                    </div>
                </div>
                <div class="cell">
                    <label data-t="">Departure</label>
                    <div class="value">{{start}}</div>
                </div>
                <div class="cell">
                    <label data-t="">Destination</label>
                    <div class="value">{{end}}</div>
                </div>
                <div class="cell">
                    <label data-t="meta">Price</label>
                    <div class="value">{{price}}</div>
                </div>
            </div>
        </template>

        <%- include('./_pagination') %>

        <template data-id="empty">
            <div class="alert-warning alert">
                <span data-t="">You have no orders</span>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>