<div class="view-order-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-t="meta">Order</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-error alert-danger alert hidden"></div>
                <div class="loadable-container" data-handler="ViewOrder">

                    <template data-id="order">
                        <div class="form">
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="meta">State</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext"><b data-t="meta">{{state}}</b></p>
                                </div>
                            </div>
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="">Departure address</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext">{{start}}</p>
                                </div>
                            </div>
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="">Destination address</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext">{{end}}</p>
                                </div>
                            </div>
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="">Desired price</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext">{{price}}</p>
                                </div>
                            </div>
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="meta">Additional info</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext">{{info}}</p>
                                </div>
                            </div>
                            <div class="form-attr form-group row">
                                <label class="col-md-3 col-form-label" data-t="meta">Client</label>
                                <div class="col-md-9">
                                    <p class="form-control-plaintext">{{client}}</p>
                                </div>
                            </div>
                        </div>
                    </template>

                    <template data-id="error">
                        <div class="alert-danger alert">{{text}}</div>
                    </template>

                    <div class="loadable-content"></div>
                    <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn-outline-secondary btn" data-dismiss="modal">
                    <span data-t="">Close</span>
                </button>
            </div>
        </div>
    </div>
</div>