
<div class="page" data-page="waitingOrder" data-handler="WaitingOrderPage">

    <div class="order loadable-container" data-handler="WaitingOrder">

        <template data-id="order">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li><a href="#" data-action="main" data-t="">Main</a></li>
                    <li><a href="#" data-action="waitingOrders" data-t="meta">Orders</a></li>
                    <li data-t="">#{{_id}}</li>
                </ol>
            </div>

            <div class="form-horizontal form">
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="meta">State</label>
                    <div class="col-xs-8">
                        <div class="form-control-static"><b data-t="meta">{{state}}</b></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="">Departure address</label>
                    <div class="col-xs-8">
                        <div class="form-control-static">{{start}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="">Destination address</label>
                    <div class="col-xs-8">
                        <div class="form-control-static">{{end}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="">Desired price</label>
                    <div class="col-xs-8">
                        <div class="form-control-static"><b>{{price}}</b></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="meta">Additional info</label>
                    <div class="col-xs-8">
                        <div class="form-control-static">{{info}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label" data-t="meta">Client</label>
                    <div class="col-xs-8">
                        <div class="form-control-static">{{client}}</div>
                    </div>
                </div>
            </div>

            <div class="block mt40">
                <h3 class="block-title" data-t="">Driver offers</h3>

                <div class="text-center mb30">
                    <button type="button" class="btn-success btn" data-action="newOffer" data-id="{{_id}}">
                        <span data-t="">Create new offer</span>
                    </button>
                </div>

                <%- include('./_orderOffers') %>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>