
<div class="page" data-page="waitingOrders" data-handler="WaitingOrdersPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" data-action="main" data-t="">Main</a></li>
            <li class="breadcrumb-item" data-t="meta">Orders</li>
        </ol>
    </div>

    <h1 data-t="meta">Waiting orders</h1>

    <div class="order-list loadable-container" data-handler="WaitingOrderList">

        <template data-id="list">
            <div class="order-items">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="order-item" data-id="{{_id}}">
                <div class="order-item-id cell">
                    <label data-t="">ID</label>
                    <div class="value">
                        <a href="#" data-action="waitingOrder" title="{{_id}}">#{{_id}}</a>
                    </div>
                </div>
                <div class="cell">
                    <label data-t="">Departure</label>
                    <div class="value">{{start}}</div>
                </div>
                <div class="cell">
                    <label data-t="">Destination</label>
                    <div class="value">{{end}}</div>
                </div>
                <div class="cell">
                    <label data-t="meta">Price</label>
                    <div class="value">{{price}}</div>
                </div>
                <div class="cell">
                    <label data-t="meta">Client</label>
                    <div class="value">{{client}}</div>
                </div>
            </div>
        </template>

        <%- include('./_pagination') %>

        <template data-id="empty">
            <div class="alert-warning alert">
                <span data-t="">No waiting orders yet</span>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>