<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
    <span class="text-danger icon fa fa-taxi"></span>
    Социальная сеть для заказа такси
</h1>
<p>
    Базовая схема действий пользователя-пассажира:
</p>
<ul>
    <li>зарегистрироваться как клиент</li>
    <li>создать заказ поездки с местами отправления, назначения и желаемой стоимостью</li>
    <li>принять поступившее предложение от водителя</li>
    <li>завершить заказ при удовлетворении сделкой</li>
</ul>
<p>
    Базовая схема действий пользователя-водителя:
</p>
<ul>
    <li>зарегистрироваться как водитель</li>
    <li>создать встречное предложение для заказа клиента</li>
    <li>получить согласие клиента</li>
    <li>подтвердить и начать выполнение заказа</li>
    <li>завершить заказ при удовлетворении сделкой</li>
</ul>

<hr>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-success mb-0">Модуль Студия</h5>
            </div>
            <div class="card-footer text-center">
                <a href="studio" class="btn-success btn">Создавайте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-info mb-0">Модуль Офис</h5>
            </div>
            <div class="card-footer text-center">
                <a href="office" class="btn-info btn">Наполняйте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-primary mb-0">Модуль Администрирование</h5>
            </div>
            <div class="card-footer text-center">
                <a href="admin" class="btn-primary btn">Управляйте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="text-danger mb-0">Модуль Фронт</h5>
            </div>
            <div class="card-footer text-center">
                <a href="front" class="btn-danger btn">Представляйте</a>
            </div>
        </div>
    </div>
</div>